In [6]:
import torch
import pickle as pkl
import pandas as pd
import numpy as np

In [8]:
import os
os.chdir('..')

In [2]:
torch.cuda.is_available()

True

In [3]:
from sentence_transformers import SentenceTransformer

model_name = 'bert-base-nli-mean-tokens'
model = SentenceTransformer(model_name)

Downloading (…)821d1/.gitattributes: 100%|██████████| 391/391 [00:00<00:00, 391kB/s]
Downloading (…)_Pooling/config.json: 100%|██████████| 190/190 [00:00<00:00, 190kB/s]
Downloading (…)8d01e821d1/README.md: 100%|██████████| 3.95k/3.95k [00:00<00:00, 3.94MB/s]
Downloading (…)d1/added_tokens.json: 100%|██████████| 2.00/2.00 [00:00<00:00, 999B/s]
Downloading (…)01e821d1/config.json: 100%|██████████| 625/625 [00:00<00:00, 309kB/s]
Downloading (…)ce_transformers.json: 100%|██████████| 122/122 [00:00<00:00, 60.6kB/s]
Downloading pytorch_model.bin: 100%|██████████| 438M/438M [00:48<00:00, 8.94MB/s]
Downloading (…)nce_bert_config.json: 100%|██████████| 53.0/53.0 [00:00<00:00, 23.0kB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████| 112/112 [00:00<00:00, 55.8kB/s]
Downloading (…)821d1/tokenizer.json: 100%|██████████| 466k/466k [00:00<00:00, 949kB/s]
Downloading (…)okenizer_config.json: 100%|██████████| 399/399 [00:00<00:00, 199kB/s]
Downloading (…)8d01e821d1/vocab.txt: 100%|██████████| 232k/232k [00:00<00:00, 749kB/s]
Downloading (…)1e821d1/modules.json: 100%|██████████| 229/229 [00:00<00:00, 93.1kB/s]

In [ ]:
device = torch.device('cuda:0')

In [17]:
model.to(device)

SentenceTransformer(
  (0): Transformer({'max_seq_length': 128, 'do_lower_case': False}) with Transformer model: BertModel
  (1): Pooling({'word_embedding_dimension': 768, 'pooling_mode_cls_token': False, 'pooling_mode_mean_tokens': True, 'pooling_mode_max_tokens': False, 'pooling_mode_mean_sqrt_len_tokens': False})
)

In [18]:
sentence_embeddings = model.encode(sent)

In [19]:
sentence_embeddings.shape

(16, 768)

In [9]:
body_train = pkl.load(open('sentences/body_train.pkl','rb'))
body_test = pkl.load(open('sentences/body_test.pkl','rb'))
stance_train = pkl.load(open('sentences/stance_train.pkl','rb'))
stance_test = pkl.load(open('sentences/stance_test.pkl','rb'))

In [20]:
def get_embedding(sent):
    return model.encode(sent)

In [29]:
import torch.nn.functional as F

In [22]:
a = sent[0]

In [37]:
s = sent[1]

In [23]:
s = "I'm a happy student studying in a university."

In [31]:
a_ = torch.tensor(model.encode(a))

In [38]:
s_ = torch.tensor(model.encode(s))

In [39]:
F.cosine_similarity(a_.unsqueeze(0),s_.unsqueeze(0))

tensor([0.6480])

In [40]:
body_train['embeddings'] = body_train['sentences'].apply(get_embedding)

In [42]:
body_train.head()

,Body ID,articleBody,sentences,embeddings
0,0,A small meteorite crashed into a wooded area i...,[A small meteorite crashed into a wooded area ...,"[[0.04417499, 0.2813075, 0.08948864, 0.4299080..."
1,4,Last week we hinted at what was to come as Ebo...,[Last week we hinted at what was to come as Eb...,"[[0.3306326, -0.3482146, 0.4529167, 0.09398288..."
2,5,(NEWSER) – Wonder how long a Quarter Pounder w...,[(NEWSER) – Wonder how long a Quarter Pounder ...,"[[-0.18273714, 0.75774044, -0.06936457, -0.440..."
3,6,"Posting photos of a gun-toting child online, I...","[Posting photos of a gun-toting child online, ...","[[0.08154284, 0.5142628, 0.0099390745, 0.10628..."
4,7,At least 25 suspected Boko Haram insurgents we...,[At least 25 suspected Boko Haram insurgents w...,"[[-0.16386387, 0.12687834, -0.89488053, -0.150..."

In [45]:
body_test['embeddings'] = body_test['sentences'].apply(get_embedding)

In [46]:
body_test.head()

,Body ID,articleBody,sentences,embeddings
0,1,Al-Sisi has denied Israeli reports stating tha...,[Al-Sisi has denied Israeli reports stating th...,"[[0.31010464, 0.20827565, 0.23084044, -0.47201..."
1,2,A bereaved Afghan mother took revenge on the T...,[A bereaved Afghan mother took revenge on the ...,"[[0.003925855, 0.06509211, -0.0727313, 0.12800..."
2,3,CNBC is reporting Tesla has chosen Nevada as t...,[CNBC is reporting Tesla has chosen Nevada as ...,"[[0.52243996, 1.0500185, 0.61583394, 0.4663079..."
3,12,A 4-inch version of the iPhone 6 is said to be...,[A 4-inch version of the iPhone 6 is said to b...,"[[-0.22461553, 0.310677, 1.6420063, -0.1729198..."
4,19,GR editor’s Note\r\n\r\nThere are no reports i...,[GR editor’s Note\r\n\r\nThere are no reports ...,"[[0.7256343, 0.71487296, 0.795531, -0.22592303..."

In [47]:
stance_train.head()

,Headline,Body ID,Stance,sentences
0,Police find mass graves with at least '15 bodi...,712,unrelated,[Police find mass graves with at least '15 bod...
1,Hundreds of Palestinians flee floods in Gaza a...,158,agree,[Hundreds of Palestinians flee floods in Gaza ...
2,"Christian Bale passes on role of Steve Jobs, a...",137,unrelated,"[Christian Bale passes on role of Steve Jobs, ..."
3,HBO and Apple in Talks for $15/Month Apple TV ...,1034,unrelated,[HBO and Apple in Talks for $15/Month Apple TV...
4,Spider burrowed through tourist's stomach and ...,1923,disagree,[Spider burrowed through tourist's stomach and...

In [49]:
stance_train['embeddings'] = stance_train['sentences'].apply(get_embedding)

In [54]:
stance_train.head()

,Headline,Body ID,Stance,sentences,embeddings
0,Police find mass graves with at least '15 bodi...,712,unrelated,[Police find mass graves with at least '15 bod...,"[[0.11373772, 0.32614568, -0.36455876, 0.34818..."
1,Hundreds of Palestinians flee floods in Gaza a...,158,agree,[Hundreds of Palestinians flee floods in Gaza ...,"[[0.0035811067, 0.66388166, -0.3805887, 0.0164..."
2,"Christian Bale passes on role of Steve Jobs, a...",137,unrelated,"[Christian Bale passes on role of Steve Jobs, ...","[[-0.17844312, 0.40808, 0.90333754, -0.0021085..."
3,HBO and Apple in Talks for $15/Month Apple TV ...,1034,unrelated,[HBO and Apple in Talks for $15/Month Apple TV...,"[[-0.46256074, 0.61089754, 0.06796886, -0.2900..."
4,Spider burrowed through tourist's stomach and ...,1923,disagree,[Spider burrowed through tourist's stomach and...,"[[-0.43532988, 0.84769005, -0.26739606, -0.038..."

In [55]:
stance_test['embeddings'] = stance_test['sentences'].apply(get_embedding)

In [56]:
stance_test.head()

,Headline,Body ID,sentences,embeddings
0,Ferguson riots: Pregnant woman loses eye after...,2008,[Ferguson riots: Pregnant woman loses eye afte...,"[[0.317956, 0.59476596, -0.22569571, -0.283397..."
1,Crazy Conservatives Are Sure a Gitmo Detainee ...,1550,[Crazy Conservatives Are Sure a Gitmo Detainee...,"[[-0.14443071, 0.41816604, -0.11379044, 0.2560..."
2,A Russian Guy Says His Justin Bieber Ringtone ...,2,[A Russian Guy Says His Justin Bieber Ringtone...,"[[-0.23880617, 0.9361699, -0.14230421, -0.1047..."
3,"Zombie Cat: Buried Kitty Believed Dead, Meows ...",1793,"[Zombie Cat: Buried Kitty Believed Dead, Meows...","[[0.031023404, 1.1899894, 0.22445874, -0.47767..."
4,Argentina's President Adopts Boy to End Werewo...,37,[Argentina's President Adopts Boy to End Werew...,"[[-0.18823671, 0.3684826, 0.056638524, 0.52585..."

In [58]:
pkl.dump(body_test, open('/gpt_embeddings/body_test.pkl', 'wb+'))
pkl.dump(body_train, open('/gpt_embeddings/body_train.pkl', 'wb+'))

In [59]:
pkl.dump(stance_train, open('/gpt_embeddings/stance_train.pkl', 'wb+'))
pkl.dump(stance_test, open('/gpt_embeddings/stance_test.pkl', 'wb+'))