In [2]:
import pandas as pd
import os
os.chdir("..")

In [3]:
body_train = pd.read_csv('fnc-1/train_bodies.csv')
body_train.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [4]:
stance_train = pd.read_csv('fnc-1/train_stances.csv')
stance_train.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [18]:
passage = body_train.articleBody[0]

In [27]:
import os
os.environ['NLTK_DATA'] = r'D:\NLP_PJ\nltk_data'

In [6]:
import nltk
from nltk.tokenize import sent_tokenize
# nltk.download('punkt', download_dir=r'D:\nltk_data')

In [30]:
sentences = sent_tokenize(passage)

In [31]:
sentences

["A small meteorite crashed into a wooded area in Nicaragua's capital of Managua overnight, the government said Sunday.",
 "Residents reported hearing a mysterious boom that left a 16-foot deep crater near the city's airport, the Associated Press reports.",
 'Government spokeswoman Rosario Murillo said a committee formed by the government to study the event determined it was a "relatively small" meteorite that "appears to have come off an asteroid that was passing close to Earth."',
 'House-sized asteroid 2014 RC, which measured 60 feet in diameter, skimmed the Earth this weekend, ABC News reports.',
 'Murillo said Nicaragua will ask international experts to help local scientists in understanding what happened.',
 'The crater left by the meteorite had a radius of 39 feet and a depth of 16 feet,  said Humberto Saballos, a volcanologist with the Nicaraguan Institute of Territorial Studies who was on the committee.',
 'He said it is still not clear if the meteorite disintegrated or was buried.',
 'Humberto Garcia, of the Astronomy Center at the National Autonomous University of Nicaragua, said the meteorite could be related to an asteroid that was forecast to pass by the planet Saturday night.',
 '"We have to study it more because it could be ice or rock," he said.',
 'Wilfried Strauch, an adviser to the Institute of Territorial Studies, said it was "very strange that no one reported a streak of light.',
 'We have to ask if anyone has a photo or something."',
 "Local residents reported hearing a loud boom Saturday night, but said they didn't see anything strange in the sky.",
 '"I was sitting on my porch and I saw nothing, then all of a sudden I heard a large blast.',
 'We thought it was a bomb because we felt an expansive wave," Jorge Santamaria told The Associated Press.',
 "The site of the crater is near Managua's international airport and an air force base.",
 'Only journalists from state media were allowed to visit it.']

In [32]:
import pickle as pkl

In [33]:
body_train['sentences'] = body_train['articleBody'].apply(sent_tokenize)

In [7]:
stance_train['sentences'] = stance_train['Headline'].apply(sent_tokenize)

In [34]:
body_train

,Body ID,articleBody,sentences
0,0,A small meteorite crashed into a wooded area i...,[A small meteorite crashed into a wooded area ...
1,4,Last week we hinted at what was to come as Ebo...,[Last week we hinted at what was to come as Eb...
2,5,(NEWSER) – Wonder how long a Quarter Pounder w...,[(NEWSER) – Wonder how long a Quarter Pounder ...
3,6,"Posting photos of a gun-toting child online, I...","[Posting photos of a gun-toting child online, ..."
4,7,At least 25 suspected Boko Haram insurgents we...,[At least 25 suspected Boko Haram insurgents w...
...,...,...,...
1678,2528,Intelligence agencies hunting for identity of ...,[Intelligence agencies hunting for identity of...
1679,2529,"While Daleks ""know no fear"" and ""must not fear...","[While Daleks ""know no fear"" and ""must not fea..."
1680,2530,More than 200 schoolgirls were kidnapped in Ap...,[More than 200 schoolgirls were kidnapped in A...
1681,2531,A Guantanamo Bay prisoner released last year a...,[A Guantanamo Bay prisoner released last year ...
1682,2532,"ANN ARBOR, Mich. – A pizza delivery man in Mic...","[ANN ARBOR, Mich. – A pizza delivery man in Mi..."

In [35]:
pkl.dump(body_train, open('sentences/body_train.pkl','wb+'))

In [46]:
pkl.dump(stance_train, open('sentences/stance_train.pkl','wb+'))

In [38]:
body_test = pd.read_csv('fnc-1/test_bodies.csv')
body_test.head()

   Body ID                                        articleBody
0        1  Al-Sisi has denied Israeli reports stating tha...
1        2  A bereaved Afghan mother took revenge on the T...
2        3  CNBC is reporting Tesla has chosen Nevada as t...
3       12  A 4-inch version of the iPhone 6 is said to be...
4       19  GR editor’s Note\r\n\r\nThere are no reports i...

In [8]:
stance_test = pd.read_csv('fnc-1/test_stances_unlabeled.csv')
stance_test.head()

                                            Headline  Body ID
0  Ferguson riots: Pregnant woman loses eye after...     2008
1  Crazy Conservatives Are Sure a Gitmo Detainee ...     1550
2  A Russian Guy Says His Justin Bieber Ringtone ...        2
3  Zombie Cat: Buried Kitty Believed Dead, Meows ...     1793
4  Argentina's President Adopts Boy to End Werewo...       37

In [9]:
stance_test['sentences'] = stance_test['Headline'].apply(sent_tokenize)

In [12]:
stance_train.head()['sentences'][0]

["Police find mass graves with at least '15 bodies' near Mexico town where 43 students disappeared after police clash"]

In [14]:
import pickle as pkl

In [18]:
pkl.dump(stance_train, open('sentences/stance_train.pkl','wb'))

In [19]:
pkl.dump(stance_test, open('sentences/stance_test.pkl','wb'))

In [43]:
body_test['sentences'] = body_test['articleBody'].apply(sent_tokenize)

In [44]:
pkl.dump(body_test, open('sentences/body_test.pkl', 'wb+'))